################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/code/RecipeHub/Database/Database.jfm
/code/RecipeHub/Database/Database.dbmdl
