@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Web_Client.Pages.CreateAccountModel
@{
    <h1>Create Account</h1>

    <form id="createAccountForm" method="post" action="">
        <fieldset>
            <div>
                <h3>Username:</h3>
                <input type="text" id="usernameInput" name="Username" onchange="validateUserName(this)"/>
                <p id="usernameErrorText"></p>
            </div>
            <div>
                <h3>Password:</h3>
                <input type="text" id="passwordInput" name="Password"/>
            </div>
            <div>
                <h3>Verify Password:</h3>
                <input type="text" id="verifyPasswordInput" name="VerifyPassword"/>
            </div>
            <div>
                <h3>First Name:</h3>
                <input type="text" id="firstNameInput" name="FirstName"/>
            </div>
            <div>
                <h3>Last Name:</h3>
                <input type="text" id="lastNameInput" name="LastName"/>
            </div>
            <div>
                <h3>Email:</h3>
                <input type="text" id="emailInput" name="Email"/>
            </div>
            <div>
                <input type="submit" value="Cancel" asp-page-handler="Cancel"/>
                <input type="submit" id="submitButton" value="Submit" asp-page-handler="Submit" />
            </div>
        </fieldset>
    </form>

    @if (Model.ShouldThrowError)
    {
        <h2>Error Creating Account: @Model.ExceptionText</h2>
    }

    <script>
        function validateUserName(input) {
            if (input.value.length === 0) {
                document.getElementById("usernameErrorText").innerHTML = "Username cannot be empty.";
                input.style.backgroundColor = "red";
                document.getElementById("submitButton").disabled = true;
            } else {
                document.getElementById("submitButton").disabled = false;
                input.style.backgroundColor = "";
            }
        }
    </script>
}
