@page
@inject IJSRuntime jsRuntime
@using Web_Client.Endpoints.Users
@using System.Security.Cryptography
@using System.Text
@using System.Reflection.Metadata
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.JSInterop
@using Web_Client.Data.UserData
@model IndexModel
@{

    ViewData["Title"] = "Home page";
}
<form>
    @Html.AntiForgeryToken()
</form>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @if (Model.ShouldThrowError)
    {
        <p>Could not login, @Model.ExceptionText</p>
    }

    @using (Html.BeginForm())
    {
        <form action="" method="post">
            <fieldset>
                <p>
                    <label for="Username">Username:</label>
                    <input type="text" name="Username"/>
                </p>
                <p>
                    <label for="Password">Password:</label>
                    <input type="text" name="Password"/>
                </p>
                <input type="submit" value="Login" asp-page-handler="Submit"/>
            </fieldset>
        </form>        
    }
</div>


<script>
    window.onbeforeunload = function () {
        console.log("hello");
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/Index/LogPageExit", false);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.send();
    };
</script>
