@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IndexModel
@{

    ViewData["Title"] = "Home page";
}
<form>
    @Html.AntiForgeryToken()
</form>

<h1 class="display-6">Welcome</h1>
<div class="text-center">
    @if (Model.ShouldThrowError)
    {
        <p>Could not login, @Model.ExceptionText</p>
    }

    @using (Html.BeginForm())
    {
        <form action="" method="post">
            <fieldset>
                <p>
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="Username" />
                </p>
                <p>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="Password" />
                </p>
                <input type="submit" value="Login" asp-page-handler="Submit"/>
            </fieldset>
        </form>        
    }
</div>